<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shiyousan.com-BotDetect-CAPTCHA-Demo-BotDetect验证码插件演示</title>    
    <style type="text/css">
        div{
            margin:10px auto;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()   
</body>
</html>
